:root{
    --main: rgb(40, 154, 219);
    --gold: #ddc471;
    --green-dark: #079307;
    --green-light: #4cae4c;
    --green-lighter: #5cb85c;
    --purple-light: #7165ff;
    --light-black: #333;
    --red-brown: #d9534f;
    --redbrowndarkt: #d43f3a;
    --golden-gradient: #fff linear-gradient(90deg, rgba(255, 204, 0, 0.35) 58%, rgba(255, 205, 0, 0.5) 100%);
    --green-gradient:  #e2fce2 linear-gradient(90deg, rgba(81, 184, 124, 0.35) 58%, rgba(51, 176, 105, 0.5) 100%);
    --brown-gradient:  #f9f6f6 linear-gradient(90deg, rgba(237, 157, 53, 0.35) 58%, rgba(233, 156, 56, 0.5) 100%);

}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
}

body{
    background: #f9f9f9;
    color: #333; 
    width: 100%;
    min-width: 100vw;
}
body::-webkit-scrollbar{
    width: 4px;
}
body::-webkit-scrollbar-track{
    background: gainsboro;
}
body::-webkit-scrollbar-thumb{
    background: var(--main);
    border-radius: 20px;
}
h3{
    text-align: center;
    margin-top: 50px;
}

/* STAFF CARD SG VERSION NEW   */
div.outer{
    margin-top: 100px;
}
    .active{
        background: var(--golden-gradient);
    }
    .selected{
        background: var(--green-gradient);
    }
    .third{
        background: var(--brown-gradient);
    }
    .staffs-card{
        justify-content: space-around;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: -1px -1px 19px rgb(170, 168, 168);
        border-radius: 1px;
    }
    .staffs-card p{
        font-size: 17px;
        margin: 0 auto 45px auto;
    }
    .staffs-card .avatar,
    .staffs-card .staff-column {
        display: grid;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }
    .staffs-card .staff-column img{
        display: table;
        position: relative;
        margin-left: 25%;
    }
    h2.staff-name, div.minor-staff{
        text-align: center;
    }
    span.line{
        padding: 2px;
        border-bottom: 1px solid var(--purple-light);
    }
    .scroll-indicator{
        font-size: 12px;
        margin: 10px;
        color: var(--green-dark);
        padding: 10px;
    }
    .staffs-card button{
        padding: 10px 16px;
        background: var(--purple-light);
        border: none;
        border-radius: 5px;
        font-size: 17px;
        color:#fff;
    }
    div.other-staffs{
        display: flex;
        overflow: scroll;
        width: 100%;
    }
    div.minor-staff{
        box-sizing: border-box;
        box-shadow: -1px 2px 19px rgb(211, 205, 205);
        margin: 5px;
        border-radius: 5px;
        width: 100%;
        min-width: 170px;
        padding: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .div.minor-staff img, div.minor-staff h6{
        padding-top: 5px; 
        text-transform: uppercase;
        font-size: 9px;
    }
    div.minor-staff span{
        font-size: 10px;
    }

    /* END OF SGR CARD STAFF NEW */

header{
    background: rgb(40, 154, 219);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dotted black;
    line-height: 1.5;
    transition: width 200ms ease ;
}
header #navswitch{
    float: right;
    position: relative;
    transform: rotate(90deg);
    top: -25px;
    font-weight: 800;
    color: #fff;
}
header nav{
    padding: 1px;
    display: none;
    width: 80%;
    transition: width 2100s ease ;
} 
header nav ul li{
    margin: 1px;
    padding: 8px 0;
    transform: translate(390deg);
}
header input:checked~nav{
    display: block;
}

/* THEPROVOST */
div.gcard, .mission, .vision{
    margin: 4px;
    border: 1px solid royalblue;
    box-shadow: skyblue 2px 2px 20px ;
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    width: 90%;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.gcard h4{
    text-transform: uppercase;
    font-size: 14px;
}
div.gcard p{
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

div.gcard a, button{
    background: skyblue ;
    border-radius: 5px;
    text-align: center;
    border: blue 1px solid;
    padding: 8px;
    position: relative;
}

div.gcard a:hover, button:hover{
    background: royalblue;
}

ul.departs{
    background: white;
    margin-left: 3px;
    width: 100%;
}
ul.departs li{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-left: 14px;
    border-radius: 10px;
    box-shadow: grey 1px 1px 6px;
    height: auto;
}
ul.departs li img{
    height: 60px;
}
ul.departs li a{
    text-decoration: none;
    color: black;
    line-height: 1.8;
}
ul.departs li h5{
    text-transform: uppercase;
}
ul.departs li p{
    font-size: 11px;
}

div.courses{
  width: 100%;
}

/* PARTNERS AND CO' */
table{
    width: 100%;
    color: black;
    box-shadow: 3px 3px 10px 5px #e8e6e6;
    padding: 0px;
}
.mission, .vision{
    box-shadow: -5px -5px 19px rgba(0,0,0,.06), 3px 5px 12px rgba(0,0,0,.12);
    padding: 10px 17px;
    border-radius: 10px;
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
    border: var(--main) .2px solid;
}
table.partners td{
    color: aqua;
    padding: 15px;
    text-align: center;
    border-radius: 10px  ;
    box-shadow: 2px 2px 10px rgb(205, 202, 202);
    border: none;
    margin-right: 10px;
}
table.partners td:hover{
    background: var(--main);
    color: #f0f0f0;
}
table.partners a{
    color: black;
}

table.partners img{
    margin-bottom: 5px;
}
/* FOOTER STUFFS  */
footer{
    background: rgb(18, 18, 73);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
}
footer p.credit{
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}

/* mobile and desktop settings  */

/* MOBILE AND SMALL DEVICES  */
@media (max-width: 500px){
    
    div.gcard{
        width:100%
    }
    ul.departs li{
        width: 90%; 
        font-size: small;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

/* TABLET MODE */
@media (min-width: 400px){
  ul.departs{
    width: 100%;
    padding: 10px;
  }
  ul.departs li{
    margin-right: auto;
    width: 50%;
  }
}

/* DESKTOP AND PCS  MOD  */
@media (min-width: 700px) {
  body{
    font-size: 16px;
  }
  ul.departs li{
    float: left;
    width: 45%;
  }
}

/* DESKTOP AND PCS  MOD  */
@media (min-width: 850px) {

  ul.departs li{
    float: left;
    width: 45%;
  }
}
